.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  font-family: "Open Sans", sans-serif;
 
  color: #444444;

}

.login-card{
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
   margin:auto;
    width:33.3333%;
    padding: 0 20px 20px 20px;
}
.login-title{

  font-size: 24px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}
.login-info{
  display:block;
}
.login-group{
  padding:20px;
}
.text-center small{
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}
.input-group-text{
  display:flex;
  text-align: center;
white-space: nowrap;
background-color: #e9ecef;
border: 1px solid #ced4da;
border-radius: .25rem;
align-items: center;
}

.card{
  

    border: none;
    border-radius: 10px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);

    margin:30px;
    background:transparent;
}

.logo{
  padding: 50px 0 15px 0;
  font-size: 36px;
  font-weight: 500;
  color: #012970;
  font-family: "Open Sans", sans-serif;
}



.item{
  font-size: 18px;
 padding:10px;
}
button{
  color: #fff;
background-color: #0b5ed7;
border-color: #0a58ca;
border-radius: .25rem;
border:1px solid transparent;
padding:.375rem .75rem;

margin-bottom:10px;

}
.form-control{
  border: 1px solid #ced4da;
  display:block;
 
width: 100%;

font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #fff;
}
.form-label{
  display:flex;
  align-items: flex-start;
  margin-bottom:.5rem;
  font-size: 18px;
}
.form-check{
  font-size: 16px;
  display:flex;
  align-items: flex-start;
  margin-bottom:.5rem;
}
.text-center{
  font-size: 14px;
}
.list-row{
  display:flex;
}

td {
  
  text-align: left;
  padding: 8px;
  
}

th{
  background-color: #e3e7ee;
  text-align: left;
  height:36px;
}
tr{
  background:none;
}
tr:nth-child(even) {
  background-color: #f3f3fa !important;
}
table{
  border-collapse: collapse;
  width:100%;
  background-color:none;
  table-layout:fixed;
}

.todo__delete{
  background-color: #dde4f1;
  color:#012970;
 font-size: 12px;
}
.add-invisible{
  display:invisible;
}

.customer-count{
  font-size: large;

}
.stats-cards{
  display:flex;
  width:60%;
  height:200px;

  margin: auto;
}
.customer-num{
  font-size: 44px;
  color:#093a85;
  font-weight: 700;

}
.customer-card{
  
width:410px;
margin:auto;
  position: relative;
   top: 30%;                         
  align-items: center;
  justify-content: center;
}
.revenue-title{
  font-size: large;
  padding:20px;
  position: relative;
}
.main-panel{
  display:block;
 
  
  align-items: center;
}
.revenue-form{
  margin: auto;
  width:60%;

}
.header-app{
z-index: 997;
  height: 100px;
  margin-top: 0%;
  background-color: #fff;
  box-shadow: 20px 2px 20px rgba(1, 41, 112, 0.1);
  display:flex;

}
.add-button{
  margin:20px;
 width:40px;
 height:40px;
padding:0;
}
.logout-button{
  width:100px;
}
.logo-left{
  padding-left: 40px;
  padding-top: 40px;
  
  font-size: 36px;
  font-weight: 600;
  color: #012970;
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
}
.user-name{
  position:absolute;
top:40px;
right:40px;
text-align: right;

}
.error-msg{
  color:rgb(197, 64, 64);
  font-size: 14px;
}

input{
  height:28px;
  width:80%;
}
.login-button{
  margin-top: 30px ;
}
.login-button:disabled,
.login-button[disabled]{
  color:#e3e7ee;
  background-color: #899bbd;
}
.add-button:disabled,
.add-button[disabled]{
  color:#e3e7ee;
  background-color: #899bbd;
}